*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    
    --clr-light-gray-200: hsl(0, 0%, 98%);
    --clr-Grayish-blue-400: hsl(229, 6%, 66%);
    --clr-very-dark-blue-600:- hsl(234, 10%, 34%);
}

body{
    font-size: 15px;
    max-width: min(900px) 1440px;
    background: hsl(0, 0%, 100%);
}

.container{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    padding: 0 15%;
}


/* headings */

.headings{
    display: flex;
    align-items: center;
}

.headings div{
    text-align: center;
    width: 100%;
}

.headings div h1{
    font-size: 35px;
    color: var(--clr-Grayish-blue-400);
    font-weight: 200;
    line-height: 3rem;
}

.headings div h1 span{
    font-weight: 600;
    color: var(--clr-very-dark-blue-600);
}

.headings div p{
    text-align: center;
    font-weight: 400;
    color: var(--clr-Grayish-blue-400);
    margin: 1em 0;
}


/* cards */

.card-container{
    display: flex;
    gap: 2rem;
    width: 100%;
}

.left-container{
    flex-basis: 32%;
    margin-top: 12rem;
}

.left-container div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    border-top: 5px solid var(--clr-cyan);
    box-shadow: 0 5px 15px hsl(0, 10%, 85%);
}

.left-container div h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-very-dark-blue-600);
}

.left-container div p{
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-Grayish-blue-400);
}

.left-container div img{
    width: 60px;
    align-self: flex-end;
    margin-top: 5em;
}


/* middle container */

.middle-container{
    flex-basis: 32%;
    margin-top: 2rem;
}

.middle-container div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    border-top: 5px solid var(--clr-red);
    box-shadow: 0 5px 15px hsl(0, 10%, 85%);
}

.middle-container div:last-child{
    border-top: 5px solid var(--clr-orange);
    margin-top: 2rem;
}

.middle-container div h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-very-dark-blue-600);
}

.middle-container div p{
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-Grayish-blue-400);
}

.middle-container div img{
    width: 60px;
    align-self: flex-end;
    margin-top: 5em;
}


/* right container */

.right-container{
    flex-basis: 32%;
    margin-top: 12rem;
}

.right-container div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    border-top: 5px solid var(--clr-blue);
    box-shadow: 0 5px 15px hsl(0, 10%, 85%);
}

.right-container div h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-very-dark-blue-600);
}

.right-container div p{
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-Grayish-blue-400);
}

.right-container div img{
    width: 60px;
    align-self: flex-end;
    margin-top: 5em;
}


/* mediaquerry */

@media only screen and (max-width: 700px){
    
    body{
        max-width: 375px;
    }

    .container{
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        padding: 0 5%;
    }

    .headings{
        margin-top: 4rem;
        width: 100%;
    }

    .headings div h1{
        font-size: 20px;
        line-height: 2rem;
    }

    .headings div p{
        font-size: 15px;
    }

    .headings div p br{
        display: none;
    }

    .card-container{
        display: block;
    }

    .left-container{
        margin-top: 3rem;
    }

    .left-container div{
        padding: 1.5rem;
    }

    .left-container div img{
        margin-top: 2rem;
    }

    .right-container{
        margin: 2rem 0;
    }

    .right-container div{
        padding: 1.5rem;
    }

    .right-container div img{
        margin-top: 2rem;
    }

    .middle-container div img{
        margin-top: 2rem;
    }

    .middle-container div{
        padding: 1.5rem;
    }


}    


.attribution {
    font-size: 14px;
    text-align: center;
    margin: 3rem 0;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
